# for loop for iteration

In [2]:
names : list[str] = ["Sir Zia","Muhammad qasim", "Dr noman"]
for name in names:
    print(f"Welcome Dear Teacher {name.title()}")
print("Team PIAIC")

Welcome Dear Teacher Sir Zia
Welcome Dear Teacher Muhammad Qasim
Welcome Dear Teacher Dr Noman
Team PIAIC

In [20]:
names : list[str] = ["Sir Zia","Muhammad qasim", "Dr noman"]
list(enumerate(names))

[(0, 'Sir Zia'), (1, 'Muhammad qasim'), (2, 'Dr noman')]

In [16]:
names : list[str] = ["Sir Zia","Muhammad qasim", "Dr noman"]
for index, name in enumerate(names): 
    print(index,name)

0 Sir Zia
1 Muhammad qasim
2 Dr noman

In [5]:
names : list[str] = ["Sir Zia","Muhammad qasim", "Dr noman"]
for name in names[1:3:1]:  #
    print(f"Welcome Dear Teacher {name.title()}")
print("Team PIAIC")

Welcome Dear Teacher Muhammad Qasim
Welcome Dear Teacher Dr Noman
Team PIAIC

In [7]:
data: list[tuple[str,str]]=[("Talha","12"),("qasim","23"),("Ali","33")]
input_user:str = input("Enter username")
input_password:str = input("Enter password")

for row in data:
    user,password = row
    if input_user == user and input_password == password:
        print("Valid user")
        break
else:
    print("User not found")

Valid user

# local variable in loop last iteration will be accessible in globla

In [9]:
names : list[str] = ["Sir Zia","Muhammad qasim", "Dr noman"]
for name in names:
    print(f"Welcome Dear Teacher {name.title()}")
print("Last iteration ",name)

Welcome Dear Teacher Sir Zia
Welcome Dear Teacher Muhammad Qasim
Welcome Dear Teacher Dr Noman
Last iteration  Dr noman

# Numbers with loop
* range(start,end,step)

In [10]:
range(10)

range(0, 10)

In [11]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
list(range(2,21,2)) # 2 to 21-1:20

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [21]:
squares : list [int]=[]
for i in range(1,11):
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [22]:
for i in range(1,11):
    print(f"{2} X {i} = {i*2}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [28]:
print([i**2 for i in range(1,11)])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [30]:
numbers :list[int]=[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
print(max(numbers))

100

# slicing do deep copy

In [33]:
names : list[str] = ["Sir Zia","Muhammad qasim", "Dr noman"]
names1 = names # shalow copy
names1[0]="first"
print(names1)
print(names)

['first', 'Muhammad qasim', 'Dr noman']
['first', 'Muhammad qasim', 'Dr noman']

In [34]:
names : list[str] = ["Sir Zia","Muhammad qasim", "Dr noman"]
names1 = names[:] # deep copy
names1[0]="first"
print(names1)
print(names)

['first', 'Muhammad qasim', 'Dr noman']
['Sir Zia', 'Muhammad qasim', 'Dr noman']

# Tuple

In [44]:
newName : tuple[any]=["Sir Zia",[0,1,2,3], "Dr noman"]
newName[1].append(4)
print(newName)

['Sir Zia', [0, 1, 2, 3, 4], 'Dr noman']