In [8]:
import pandas as pd
table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

# Assignment operators

In [9]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

# comparison operators

In [10]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [11]:
a : int = 7
b : int = 5
print(a==b)

False

In [12]:
a : int = 7
b : int = "7"
print(a==b)

False

In [13]:
a : int = 7
b : int = 5
print(a>b)

True

In [22]:
a : int = 97
b : str = "a"
print(a==b)
ord("a")

False

97

# logical operators

In [23]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [24]:
a: str = "Talha"
b : str = "Talha"
a is b

True

In [27]:
a: str = "Talha"
print(id(a))
b : str = "talha"
print(id(b))
a is not b

332788782192
330771443952

True

# membership operator

In [28]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [30]:
names:list[str]=[chr(i)for i in range(65,91)]
names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [31]:
"D" in names

True

In [32]:
"Pak" in names

False

In [33]:
names : list[str] = ["talha","qasim"]
inputname=input("Enter your name")
inputname in names

True

In [34]:
a , b , c = "tlha", 11,False
print(a,b,c)

tlha 11 False

In [40]:
data =("talha", 11,False)
print(data)
print(*data)
print(*data*2)

('talha', 11, False)
talha 11 False
talha 11 False talha 11 False

# walrus operator

In [43]:
a:int =1
if (a< (b:=a-1)):
    print("a is less")
else:
    print(b,"b is less")

0 b is less